*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

/* Home Section Styles*/
#home-section{
   margin-bottom: 20px;
}
.home-container{
    height:100vh;
    background-image: url(./image\ 23.png);
    background-size: cover;
    background-position: center;
    color:white;
}
.home-container p{
    text-align: center;
    padding:10px 0px;
    font-size: 50px;
    font-weight:548;
}
.header{
    display:flex;
    padding:20px 0px;
}
.header-content{
    display:flex;
    justify-content:center;
}
.header-content-1{
width:20%;
}
.header-content-2{
    width:60%;
}
.header-content-3{
    width:20%;
}
.header-content-3 button{
    background-color:black;
    color:white;
    padding:5px 15px;
    border:.5px solid white;
    border-radius: 15px;
    cursor: pointer;
}
.form-container{
    display:flex;
    justify-content:center;
}
.form{
    margin-top:-50px;
    display:flex;
    width:90vw;
    padding:20px;
    justify-content:space-around;
    border-radius:10px;
    align-items: center;
    background:white;
    box-shadow: 0 2px 5px rgba(0 ,0 , 0, 3);

}
.input{
display:flex;
flex-direction:column;
width: 200px;
}
.input p{
    font-size: 15px;
    padding: 7px 0px;
}
.input input{
    padding: 10px;
    border: 1px solid grey;
    border-radius:5px;
}
.input button{
    margin-top: 30px;
    padding:17px ;
    color:white;
    background-color:black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.input .input-container{
   position: relative;
}
.input .input-container input{
    padding-left: 25px;
}

/* Multiple Sections Styles*/
#brand-section , 
#body-type-section,
#collection-section,
#how-section,
#service-section,
.collection-section-header-container,
.how-section-header-container,
.service-section-header-container,
#comment-section,
#download-section,
footer{
    display:flex;
    justify-content: center;
    margin: 40px 0px;
   
}
.service-section-container,
.brand-section-container,
.body-type-section-container,
.collection-section-container,
.how-section-container,
.comment-section-container,
.download-section-container,
.footer-container{
    width:90vw;
   
}
/* Brand Section Styles */
.brand-section-header,
.body-type-section-header,
.comment-section-header
{
    display:flex;
}
.brand-section-button,.body-type-section-button,.comment-section-buttons{
    width:88%;
    display:flex;
    justify-content: end;
    
}
.body-type-section-button{
    width:87%;
    
}
.brand-section-button a,.body-type-section-button a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}
.brand-container,.body-type-container{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 20px;
    
 
   
}
.brand-content,.body-type-content{
    width: 15%;
    height: 100px;
    background-color: #E5E4E2;
    margin: 10px 0px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.brand, .body-type{
    text-align: center;
 
}


/* Collection Section Styles */
#collection-section{
    background-color: #E5E4E2;
    margin-bottom: unset;
    padding: 40px;
}
.collection-section-header,
.how-section-header,
.service-section-header
{
width: 55%;
text-align: center;
}
.collection-section-header p,
.how-section-header p,
.service-section-header p{
    padding: 15px 0px;
}
.collection-section-header ul li{
    display: inline;
    padding: 7px 5px;
}
.collection-section-header ul li a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px 15px;
    border-radius: 30px;
}
/* .collection-section-header a:focus{
    background-color: black;
    color: white;
} */
.collection-section-header ul li:first-of-type a{
    background-color: black;
    color: white;
}
.collection-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}
.collection-items{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
}
.collection-items .img-container,.specs-container,.button-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.collection-items img{
    width: 95%;
    height: auto;
}
.details-container h1{
    padding: 5px 0px;
}
.details-container{
    margin: 10px;
    padding-left: 10px;
}
.details-container h1 sub{
    font-weight: 100 ;
    color: gray;
}
.specs-container,.button{
    margin: 10px 0px;
    padding-left: unset;
}
.specs-content{
    width: 95%;
    height: 70px;
    background-color: #E5E4E2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
 
}
.spec{
    text-align: center;
}
.button{
    width: 95%;
   
}
.button button{
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 0px;
    border: .5px solid black;
    border-radius: 30px;
}
.collection-item-2{
    border: 1px solid black;
}
.collection-item-2 button{
    background-color: black;
    color: white;
}

.see-all-button{
    display: flex;
    justify-content: center;
}
.see-all-button button{
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 30px;
}
.collection-section-header h1,
.how-section-header h1,
.service-section-header h1{
 font-family: sans-serif;
}
/* How Section Styles*/
.how-container{
    display: flex;
    position: relative;
}
.how-container .how-content-empty{
    width:30%;
}
.how-content-steps{
    position: absolute;
    width: 45%;
}
.how-container .car-img{
    width: 70%;
    background-color: #E5E4E2;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    border-radius: 10px;
}
.step-icon-container{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-content{
 padding: 0px 5px;
}
.step-icon{
    background-color: #f5f5f5;
    padding: 20px 10px;
    border-radius: 10px;
}
.step-content h3{
    padding-bottom: 10px;
    font-family: sans-serif;
    padding-left: 4px ;
}
.step-content p{
    text-align: justify;
    padding-right: 25px;
    padding-left: 4px ;
}
.step-container{
    display: flex;
    justify-content:space-around;
    background-color: white;
    border: 2px solid #f5f5f5;
    border-bottom: unset;
    padding: 15px 5px ;
    margin: 30px 0px;
    border-radius: 7px;
}
/* Service Section Styles*/
#service-section{
    background-color: #000000;
    color: white;
    padding: 40px 0px ;
    margin-bottom: unset;
}
.service-grid{ 
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}
.service-item .service-icon-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.service-icon-container .service-icon{
    background-color: white;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 5px;

}
.service-item .service-content{
    text-align: center;
}
.service-item .service-content h4{
    padding: 10px 0px
    ;
}
.service-item .service-content p{
    padding: 10px;
}
/* Comment Section Style */
.comment-section-buttons{
    width: 75% !important;
}
.comment-section-buttons button{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.comment-section-buttons .comment-section-button-1{
    background-color: white;
    color: #A4A4A4;
    border: 1px solid #C0C0C0;
}
.comment-section-buttons .comment-section-button-2{
    background-color: #000000;
    color:white;
    border: 1px solid black;
}
.comment-content{
    width: 90%;
    margin: 10px 0px;
}
.comment-content p{
    font-family: Arial, Helvetica, sans-serif;
}
.comment-owner-container{
    display: flex;
    margin: 30px 0px;
}
.comment-owner-container-content{
    margin-left: 15px;
    padding-top: 10px;
}
.comment-owner-container-content h4{
    padding: 10px 0px;
}
/* Download Section Styles */
#download-section{
    background-color: #000000;
    color: white;
    margin: unset;
    padding: 20px 0px ;
}
.download-section-container{
    display: flex;
}
.download-section-container >.download-content {
    width: 50%;
   padding-left: 40px;

}
.download-section-container >.download-description h2{
    padding: 10px 0px;
}
.download-section-container >.download-description p{
    font-size: 15px;
    padding: 10px 0px;
    font-weight: 100;
}
.download-section-container .download-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-button{
    display: flex;
    background-color: white;
    border-radius: 30px;
    margin: 0px 10px;
}
.download-button-icon{
    padding: 10px 5px 10px 20px;
}
.download-button-text{
    color: black;
    padding-right: 15px;
    padding-top: 10px;
}
.download-button-text p{
    font-size: 12px;
    text-transform: uppercase;
}
.download-button-text a{
   color: black;
}
.download-button-text h3{
    font-family: Arial, Helvetica, sans-serif;
}
/* Footer Styles */
footer{
    margin: unset;
    background-color: #000000;
    padding: 20px 0px;
    color: white;
}
.footer-container{
    display: flex;
}
.footer-logo{
    display: flex;
    width: 20%;
    justify-content: start;
}
.footer-nav{
    width: 60%;
    text-align: center;
}
.footer-nav ul li,
.footer-socials ul li{
    display: inline;
}
.footer-nav ul li a,
.footer-socials ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}
